*{
    margin:0%;
    padding:0%;
}
body{
    overflow: hidden;
}
.sky{
    height:100vh;
    width:100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height:100vh;
    width:100%;
    background-image:url("trees.png") ;
    background-size: cover;
    position: absolute;
    bottom:150px;
}
.track{
   height:70vh;
   width:700vw;
   background-image: url("track.png");
   background-repeat:repeat-x;
   position:absolute;
   top:70vh;
   animation: carMove linear 13s infinite;
}
.car{
    height:100px;
    width:300px;
    background-image: url("car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    left: 300px;
    bottom: 150px;
    animation: Shake linear 3s infinite;
}

.wheel1 img{
    height:60px;
    width:61px;
    position: relative;
    top:40px;
    left:43px;
    animation: wheelrotation  linear .3s infinite;
}
.wheel2 img{
    height:60px;
    width:66px;
    position: relative;
    top:-24px;
    left:219px;
    animation: wheelrotation linear .3s infinite;
}

@keyframes wheelrotation{
    100%{
        transform:rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform:translateX(-480vw);
    }
}
@keyframes Shake{
    0%{
        transform:translateY(-8px);
    }
    50%{
        transform:translateY(+8px);
    }
    100%{
        transform:translateY(-8px);
    }
}